<section data-ng-controller="RecordsController">
	<form class="form-horizontal" data-ng-submit="create()">
		<div class="control-group">
			<label class="control-label" for="artist">Artist</label>
			<div class="controls">
				<input type="text" data-ng-model="artist" id="artist" placeholder="Artist" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="sidea">Sides</label>

			<div class="controls">
				<input type="text" data-ng-model="sidea" id="sidea" placeholder="Side A" required>
				</input>
				<input type="text" data-ng-model="sideb" id="sideb" placeholder="Side B" required>
				</input>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="year">Year</label>

			<div class="controls">
				<input type="text" data-ng-model="year" id="year" placeholder="Year" required>
				</input>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>